@media only screen and (max-width:816px){
    #episodios{
        text-align: center;
        h2{ 
            text-align: left;
            margin-left: 10rem;
        }
        .spotify{
            display: inline-block;
            .inframe{
                margin: 2rem;
                width: 44%;
                justify-content:center;
            }
        }
    }

}